* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Poppins, sans-serif;
}
.top-banner {
  background-image: url("./img/header-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.banner-wrapper {
  width: 1170px;
  margin: auto;
  overflow: hidden;
  padding-top: 160px;
}
p {
  color: #707070;
  margin-bottom: 30px;
}
h2 {
  font-size: 27px;
  margin-bottom: 7px;
}
h1 {
  font-size: 35px;
  margin-bottom: 20px;
}
.pink-higlight {
  color: rgb(236, 76, 122);
}
.left-banner {
  width: 40%;
  float: left;
}
.rigth-banner {
  width: 40%;
  float: right;
}
.banner-img-position {
  position: relative;
  top: -105px;
}
.banner-img {
  width: 100%;
}
section {
  overflow: hidden;
  height: 635px;
  padding-bottom: 85px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, #ec5195, #ed4f76);
  color: white;
  font-weight: 700;
  padding: 10px 24px;
  border-radius: 5px;
}
.biography-area {
  background-image: url("./img/biography-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.work-img {
  width: 30%;
  float: left;
  padding-right: 35px;
}
.work-img-container {
  margin: auto;
}
.work-img-container :last-child {
  padding-right: 0px !important;
}
.work-img-container :first-child {
  padding-left: 24px !important;
}
h1.latest-title {
  text-align: center;
  position: relative;
  bottom: 100px;
}
.latest-work {
  background-image: url("./img/latest-work-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.client-say {
  text-align: center;
  background-image: url("./img/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.client-postion {
  position: relative;
  bottom: 174px;
}
.client-say h1 {
  padding-bottom: 65px;
}
.client-say h2 {
  font-size: 18px;
  font-weight: 800;
}
.client-say h6 {
  color: #707070;
}
.client-say p {
  color: black;
  width: 426px;
  margin: auto;
  padding-top: 48px;
}
.contac-message {
  width: 460px;
  text-align: center;
  background-color: #ed4f76;
  margin: auto;
  position: relative;
  bottom: 85px;
  padding: 11px 26px;
  border-radius: 10px;
  color: white !important;
}
.contac-message p {
  color: white;
  margin-bottom: 5px;
}
footer {
  text-align: center;
}
section.client-area {
  padding-bottom: 0px;
}
